<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     
     <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
<head>
<meta charset="utf-8" />
<title>Dodaj opinię</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;
<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item"><a href="/lista_ksiazek">Lista książek</a></li>
		    <li class="breadcrumb-item"><a th:href="@{'/wyswietl_ksiazke/' + ${opinia.primaryKey.ksiazka.id_ksiazki}}">Wyswietl książkę</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_ksiazek/wyswietl_ksiazke/dodaj_opinie">Dodaj opinię</li>
		  </ol>
		</nav>
</div>
    &nbsp;&nbsp;&nbsp;
    
    
 

    &nbsp;&nbsp;&nbsp;
<div class="container" align="left">
	<h4>Dodaj opinię:</h4>
        <br/>
        <form action="#" th:action="@{/wyswietl_ksiazke/dodaj_opinie/save_comment}"  method="post">
		<input type="hidden" th:field="${opinia.primaryKey.ksiazka.id_ksiazki}"/>
		<input type="hidden" th:field="${opinia.primaryKey.uzytkownik.id_uzytkownika}"/>
		
	
            <table style="width:100%">
                
                <tr>
                    <td>Ocena:</td>
                    <td>
                    	<select class="form-control" th:field="${opinia.ocena}">
                    		<option value="0">Wybierz ocenę</option>
                    		<option value="1">1</option>
                    		<option value="2">2</option>
                    		<option value="3">3</option>
                    		<option value="4">4</option>
                    		<option value="5">5</option>
                    	</select>
                    </td>
                     <td th:if="${#fields.hasErrors('opinia.ocena')}" th:errors="${opinia.ocena}">NameError</td>
                   
                </tr>  
                 <tr>
                    <td>Komentarz:</td>
                    <td><input type="text" th:field="${opinia.komentarz}" style ="height:100px; width:100%;"/></td>
                    <td th:if="${#fields.hasErrors('opinia.komentarz')}" th:errors="${opinia.komentarz}">NameError</td>
                </tr>                      
                <tr>
                    <td >
                    	<button  class = "btn btn-dark" type="submit">Dodaj</button>
                    	<a th:href="@{'/wyswietl_ksiazke/' + ${opinia.primaryKey.ksiazka.id_ksiazki}}" class="btn btn-dark">Cofnij</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>