<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     
     <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
<head>
<meta charset="utf-8" />
<title>Edytuj klienta</title>
</head>
<body>


<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>




&nbsp;&nbsp;&nbsp;
<div class="container">
	
	<ul class="nav nav-tabs">
  		<li class="nav-item">
    		<a class="nav-link" href="/koszyk">Mój koszyk</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="/moje_zamowienia">Moje zamówienia</a>
	  	</li>
  		<li class="nav-item">
    		<a class="nav-link active" href="/edytuj_dane_adresowe">Dane adresowe</a>
  		</li> 
	</ul>
		
  &nbsp;&nbsp;&nbsp;
	<h3>Edytuj dane adresowe:</h3>
</div>

    <div class="container" align="center">
        <br/>
        <form action="#" th:action="@{/edytuj_dane_adresowe/save}" th:object="${uzytkownik}" method="post">
  		
  		<input type="hidden" th:field="*{id_uzytkownika}"  readonly="readonly"/>
  		<input type="hidden" th:field="*{email_uzytkownika}" />
  		<input type="hidden" th:field="*{password}" />
  		<input type="hidden" th:field="*{blokada_konta}" />
  		<input type="hidden" th:field="*{rola}" />
  
  
            <table class="table">
                <tr>
                    <td>Imię:</td>
                    <td><input type="text" th:field="*{imie_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('imie_uzytkownika')}" th:errors="*{imie_uzytkownika}">NameError</td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td><input type="text" th:field="*{nazwisko_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('nazwisko_uzytkownika')}" th:errors="*{nazwisko_uzytkownika}">NameError</td>
                </tr>
                <tr>
                    <td>Nazwa firmy:</td>
                    <td><input type="text" th:field="*{nazwa_firmy}" /></td>
                    <td th:if="${#fields.hasErrors('nazwa_firmy')}" th:errors="*{nazwa_firmy}">NameError</td>
                </tr>  
                 <tr>
                    <td>Nip:</td>
                    <td><input type="text" th:field="*{nip_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('nip_uzytkownika')}" th:errors="*{nip_uzytkownika}">NameError</td>
                </tr>
                 <tr>
                    <td>Ulica:</td>
                    <td><input type="text" th:field="*{ulica_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('ulica_uzytkownika')}" th:errors="*{ulica_uzytkownika}">NameError</td>
                </tr>
                 <tr>
                    <td>Miasto:</td>
                    <td><input type="text" th:field="*{miasto_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('miasto_uzytkownika')}" th:errors="*{miasto_uzytkownika}">NameError</td>
                </tr>
                 <tr>
                    <td>Kod pocztowy:</td>
                    <td><input type="text" th:field="*{kod_pocztowy_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('kod_pocztowy_uzytkownika')}" th:errors="*{kod_pocztowy_uzytkownika}">NameError</td>
                </tr>
                 <tr>
                    <td>Telefon:</td>
                    <td><input type="text" th:field="*{telefon_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('telefon_uzytkownika')}" th:errors="*{telefon_uzytkownika}">NameError</td>
                </tr>          
                <tr>
                    <td >
                    	<button class = "btn btn-dark" type="submit">Zapisz</button>
                    	<a href="/koszyk" class="btn btn-dark">Cofnij</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    &nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>

</body>