<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>
<div align="center">
    <h1>Kategorie</h1>
    <a href="/new">Dodaj kategorie</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa kategorii</th>
                <th>Opis kategorii</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="kategoria : ${listKategoria}">
                <td th:text="${kategoria.id}">ID</td>
                <td th:text="${kategoria.name}">Nazwa</td>
                <td th:text="${kategoria.description}">Opis</td>
                <td>
                    <a th:href="/@{'/edit/' + ${kategoria.id}}">Edytuj</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${kategoria.id}}">Usun</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
</body>
</html>