<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
      
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>




<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

&nbsp;&nbsp;&nbsp;
<div class="container">
	<h4>Strona glowna</h4>
</div>



<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>

</body>
</html>