<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>


<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>




&nbsp;&nbsp;&nbsp;
<div class="container">
	
	<ul class="nav nav-tabs">
  		<li class="nav-item">
    		<a class="nav-link active" href="/koszyk">Mój koszyk</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="/moje_zamowienia">Moje zamówienia</a>
	  	</li>
  		<li class="nav-item">
    		<a class="nav-link" href="/edytuj_dane_adresowe">Dane adresowe</a>
  		</li> 
	</ul>
		
  &nbsp;&nbsp;&nbsp;
	<h3>Mój koszyk:</h3>
</div>

<div class="container" align="center">
	<div class="text-right">
    	<a href="/zloz_zamowienie" class="btn btn-dark">Złóż zamówienie</a>
    </div>
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>Pozycja zamówienia</th>
                <th>Tytuł książki</th>
                <th>Cena zakupu</th>
                <th>Ilość zamówiona</th>
                <th>Wartość pozycji</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detal : ${listDetalZamowienia}">
                <td th:text="${detal.primaryKey.pozycja_zamowienia}"></td>
                <td th:text="${detal.ksiazka.tytul_ksiazki}"></td>
                <td th:text="${#numbers.formatDecimal(detal.cena_zakupu, 0 , 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:text="${detal.ilosc_zamowiona}"></td>
                <td th:text="${#numbers.formatDecimal(detal.wartosc_pozycji, 0 , 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td>
                    <a th:href="@{'/edytuj_koszyk/' + ${detal.primaryKey.zamowienie.id_zamowienia}+ '/'+ ${detal.primaryKey.pozycja_zamowienia}}" class="btn btn-warning btn-sm">Edytuj</a>
                     <form method="get" action="@{/koszyk/usun_z_koszyka/' + ${detal.primaryKey.zamowienie.id_zamowienia} +'/'+ ${detal.primaryKey.pozycja_zamowienia}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć ten detal zamówienia?') ? true : false;">
                    		
                    	<a th:href="@{'/usun_z_koszyka/' + ${detal.primaryKey.zamowienie.id_zamowienia} +'/'+ ${detal.primaryKey.pozycja_zamowienia}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;



<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>