<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;

<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_ksiazek">Lista książek</li>
		  </ol>
		</nav>
	<h3>Książki</h3>
</div>

<div class="container" align="center">


    <nav class = "navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
		<form class="form-inline" th:action="@{/lista_ksiazek/page/1/}">
			<input type ="hidden" name="sortField" value="tytul_ksiazki"/>
		    <input type="hidden"  name="sortDir" value="asc"/>
		    <div class="md-form mt-0">
		    	<div class="col-xs-10">
		    	
				    <select class = "form-control" name = "nazwaKategorii">
						<option value="">Wybierz kategorię</option>
						<option th:each="kategoria : ${listKategoria}" th:value="${kategoria.nazwa_kategorii}"
									th:text="${kategoria.nazwa_kategorii}"></option>
					</select>
		    	
			    	<input class= "form-control" placeholder="Szukaj" aria-label="Search" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"  />
			    	 <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Szukaj</button>
			    	 <input  class="btn btn-outline-success my-2 my-sm-0" type="button" value="Wyczyść" onClick=clearSearch() id="btnClear"  />
			    	 <a  sec:authorize="hasRole('OPERATOR')" href="/nowa_ksiazka" class="btn btn-outline-success my-2 my-sm-0">Dodaj książkę</a>
			    	 	
		    	</div>	
		    </div>
		</form>
	</nav>
	
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
            	<th> </th>
                <th>
                	<a th:href="@{'/lista_ksiazek/page/' + ${currentPage} + '?sortField=tytul_ksiazki&sortDir=' + ${reverseSortDir} +'&keyword=' + ${keyword} + '&nazwaKategorii=' + ${nazwaKategorii}}">Tytuł</a>
                </th>
                 <th>
                	<a th:href="@{'/lista_ksiazek/page/' + ${currentPage} + '?sortField=cena_ksiazki&sortDir=' + ${reverseSortDir} +'&keyword=' + ${keyword} + '&nazwaKategorii=' + ${nazwaKategorii}}">Cena</a>
                </th>
                <th>
                	<a th:href="@{'/lista_ksiazek/page/' + ${currentPage} + '?sortField=rok_wydania_ksiazki&sortDir=' + ${reverseSortDir} +'&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Rok wydania</a>
                </th>
                <th>
                	<a th:href="@{'/lista_ksiazek/page/' + ${currentPage} + '?sortField=liczba_stron_ksiazki&sortDir=' + ${reverseSortDir} +'&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Liczba stron</a>
                </th>
                <th>
                	<a th:href="@{'/lista_ksiazek/page/' + ${currentPage} + '?sortField=oprawa_ksiazki&sortDir=' + ${reverseSortDir} +'&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Oprawa</a>
                </th>
                <th>
                	<a th:href="@{'/lista_ksiazek/page/' + ${currentPage} + '?sortField=wydawnictwo.nazwa_wydawnictwa&sortDir=' + ${reverseSortDir} +'&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Nazwa wydawnictwa</a>
                </th>
                <th>
                <div sec:authorize="hasRole('OPERATOR')">
                	Akcje
                </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ksiazka : ${listKsiazka}">
            	<td>
            		<a th:href="@{'/wyswietl_ksiazke/' + ${ksiazka.id_ksiazki}}" >
            	 	<img th:src="${ksiazka.zdjecie_ksiazkiImagePath}" style="width:100px; height: 130px" alt="okladka"/>
            	 	</a>
            	 </td>
                <td>
                 	<a th:href="@{'/wyswietl_ksiazke/' + ${ksiazka.id_ksiazki}}"   th:text="${ksiazka.tytul_ksiazki}"> </a>
                 </td>
                 <td th:text="${#numbers.formatDecimal(ksiazka.cena_ksiazki, 0 , 'DEFAULT', 2, 'DEFAULT')}">Cena książki</td>
                <td th:text="${ksiazka.rok_wydania_ksiazki}">Rok wydania</td>
                <td th:text="${ksiazka.liczba_stron_ksiazki}">Liczba stron</td>
                <td th:text="${ksiazka.oprawa_ksiazki}">Oprawa</td>
                <td th:text="${ksiazka.wydawnictwo.nazwa_wydawnictwa}">Nazwa wydawnictwa</td>
                <td>
                <div sec:authorize="hasRole('OPERATOR')">
                    <a th:href="@{'/edytuj_ksiazke/' + ${ksiazka.id_ksiazki}}" class="btn btn-warning btn-sm">Edytuj</a>

                     <form method="get" action="@{/lista_ksiazek/usun_ksiazke/' + ${ksiazka.id_ksiazki}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć tę książkę') ? true : false;">
                    		
                    	<a th:href="@{'/usun_ksiazke/' + ${ksiazka.id_ksiazki}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
<div th:if="${totalPages > 1}" class="container">
		Suma książek: [[${totalItems}]]
		&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
<a th:if="${currentPage > 1}" th:href="@{'/lista_ksiazek/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Pierwsza</a>
		<span th:unless="${currentPage > 1}">Pierwsza</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/lista_ksiazek/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Poprzednia</a>
		<span th:unless="${currentPage > 1}">Poprzednia</span>
		
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/lista_ksiazek/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/lista_ksiazek/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Następna</a>
		<span th:unless="${currentPage < totalPages}">Następna</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/lista_ksiazek/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}+ '&nazwaKategorii=' + ${nazwaKategorii}}">Ostatnia</a>
		<span th:unless="${currentPage < totalPages}">Ostatnia</span>
		<br><br>
	</div>
&nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/lista_ksiazek}]]";
    }
</script>


</body>
</html>

