<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;

<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_kategorii">Lista kategorii</li>
		  </ol>
		</nav>
	<h3>Kategorie</h3>
</div>

<div class="container" align="center">
    <a href="/nowa_kategoria" class="btn btn-dark">Dodaj kategorię</a>
    
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa kategorii</th>
                <th>Opis kategorii</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="kategoria : ${listKategoria}">
                <td th:text="${kategoria.id_kategorii}">ID</td>
                <td th:text="${kategoria.nazwa_kategorii}">Nazwa</td>
                <td th:text="${kategoria.opis_kategorii}">Opis</td>
                <td>
                    <a th:href="@{'/edytuj_kategorie/' + ${kategoria.id_kategorii}}" class="btn btn-warning btn-sm">Edytuj</a>

                     <form method="get" action="@{/lista_kategorii/usun_kategorie/' + ${kategoria.id_kategorii}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć tę kategorię?') ? true : false;">
                    		
                    	<a th:href="@{'/usun_kategorie/' + ${kategoria.id_kategorii}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>