<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>
<section>
	<div class="container-sm">
		<div class="jumbotron" style="background: url(images/bookcase-1869616_1920.jpg)">
				<h1 style="color:white;">Ksiegarnia internetowa</h1>
		</div>
	</div>
		<div class="container">	
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Strona glowna</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_ksiazek}">Ksiazki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_kategorii}">Kategorie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_wydawnictw}">Wydawnictwa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_autorow}">Autorzy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_pracownikow}">Pracownicy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_klientow}">Klienci</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_opinii}">Opinie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_zamowien}">Zamówienia</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Koszyk</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Kontakt</a>
					</li>
				</ul>
			</nav>
			
		</div>

</section>
&nbsp;&nbsp;&nbsp;

<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_ksiazek">Lista książek</li>
		  </ol>
		</nav>
	<h3>Książki</h3>
</div>

<div class="container" align="center">
    <a href="/nowa_ksiazka" class="btn btn-dark">Dodaj książkę</a>
    
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
            	<th> </th>
                <th>ID</th>
                <th>Tytuł</th>
                <th>Oryginalny tytuł</th>
                <th>ISBN</th>
                <th>Ilość książek</th>
                <th>Rok wydania</th>
                <th>Liczba stron</th>
                <th>Oprawa</th>
                <th>Opis</th>
                <th>Nazwa wydawnictwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ksiazka : ${listKsiazka}">
            	<td>
            		<a th:href="@{'/wyswietl_ksiazke/' + ${ksiazka.id_ksiazki}}" >
            	 	<img src="images/okladka.png" alt="okladka" style="width:80px; height:100px">
            	 	</a>
            	 </td>
                <td>
                	<a th:href="@{'/wyswietl_ksiazke/' + ${ksiazka.id_ksiazki}}"  th:text="${ksiazka.id_ksiazki}">	</a>
                </td>
                <td th:text="${ksiazka.tytul_ksiazki}">Tytuł</td>
                <td th:text="${ksiazka.oryginalny_tytul_ksiazki}">Oryginalny tytuł</td>
                <td th:text="${ksiazka.isbn}">ISBN</td>
                <td th:text="${ksiazka.ilosc_ksiazek}">Ilość książek</td>
                <td th:text="${ksiazka.rok_wydania_ksiazki}">Rok wydania</td>
                <td th:text="${ksiazka.liczba_stron_ksiazki}">Liczba stron</td>
                <td th:text="${ksiazka.oprawa_ksiazki}">Oprawa</td>
                <td th:text="${ksiazka.opis_ksiazki}">Opis</td>
                <td th:text="${ksiazka.wydawnictwo.nazwa_wydawnictwa}">Id wydawnictwa</td>
                <td>
                    <a th:href="@{'/edytuj_ksiazke/' + ${ksiazka.id_ksiazki}}" class="btn btn-warning btn-sm">Edytuj</a>

                     <form method="get" action="@{/lista_ksiazek/usun_ksiazke/' + ${ksiazka.id_ksiazki}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć tę książkę') ? true : false;">
                    		
                    	<a th:href="@{'/usun_ksiazke/' + ${ksiazka.id_ksiazki}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;
<div class="text-center">
	<p>Ksiegarnia Internetowa - BookStore </p>
</div>
</body>
</html>