<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;

<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_opinii">Lista opinii</li>
		  </ol>
		</nav>
	<h3>Opinie</h3>
</div>

<div class="container" align="center">
    <a href="/nowa_opinia" class="btn btn-dark">Dodaj opinię</a>
    
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id uzytkownika</th>
                <th>Id ksiazki</th>
                <th>Ocena</th>
                <th>Komentarz</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="opinia : ${listOpinia}">
                <td th:text="${opinia.primaryKey.uzytkownik.id_uzytkownika}">Id uzytkownika</td>
                <td th:text="${opinia.primaryKey.ksiazka.id_ksiazki}">Id ksiazki</td>
                <td th:text="${opinia.ocena}">Ocena</td>
                <td th:text="${opinia.komentarz}">Komentarz</td>
                <td>
                    <a th:href="@{'/edytuj_opinie/' + ${opinia.primaryKey.uzytkownik.id_uzytkownika}+ '/'+ ${opinia.primaryKey.ksiazka.id_ksiazki}}" class="btn btn-warning btn-sm">Edytuj</a>

                     <form method="get" action="@{/lista_opinii/usun_opinie/' + ${opinia.primaryKey.uzytkownik.id_uzytkownika} +'/'+ ${opinia.primaryKey.ksiazka.id_ksiazki}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć tego autora?') ? true : false;">
                    		
                    	<a th:href="@{'/usun_opinie/' + ${opinia.primaryKey.uzytkownik.id_uzytkownika} +'/'+ ${opinia.primaryKey.ksiazka.id_ksiazki}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>