<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;

<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_uzytkownikow">Lista uzytkowników</li>
		  </ol>
		</nav>
	<h3>Klienci</h3>
</div>

<div class="container" align="center">
    <a href="/nowy_uzytkownik" class="btn btn-dark">Dodaj uzytkownika</a>
    
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Nazwa firmy</th>
                <th>Ulica</th>
                <th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Blokada konta</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="uzytkownik : ${listUzytkownik}">
                <td th:text="${uzytkownik.id_uzytkownika}">ID</td>
                <td th:text="${uzytkownik.imie_uzytkownika}">Imię</td>
                <td th:text="${uzytkownik.nazwisko_uzytkownika}">Nazwisko</td>
                <td th:text="${uzytkownik.nazwa_firmy}">Nazwa firmy</td>
                <td th:text="${uzytkownik.ulica_uzytkownika}"></td>
                <td th:text="${uzytkownik.miasto_uzytkownika}"></td>
                <td th:text="${uzytkownik.kod_pocztowy_uzytkownika}"></td>
                <td th:text="${uzytkownik.telefon_uzytkownika}"></td>
                <td th:text="${uzytkownik.email_uzytkownika}"></td>
                <td th:text="${uzytkownik.blokada_konta}"></td>
                <td>
                    <a th:href="@{'/edytuj_uzytkownika/' + ${uzytkownik.id_uzytkownika}}" class="btn btn-warning btn-sm">Edytuj</a>

                     <form method="get" action="@{/lista_uzytkownikow/usun_uzytkownika/' + ${uzytkownik.id_uzytkownika}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć tego uzytkownika?') ? true : false;">
                    		
                    	<a th:href="@{'/usun_uzytkownika/' + ${uzytkownik.id_uzytkownika}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>