<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>
<section>
	<div class="container-sm">
		<div class="jumbotron"  th:style="'background: url('+ @{/images/bookcase-1869616_1920.jpg} +');'">
				<h1 style="color:white;">Ksiegarnia internetowa</h1>
		</div>
	</div>
		<div class="container">	
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Strona glowna</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_ksiazek}">Ksiazki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_kategorii}">Kategorie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_wydawnictw}">Wydawnictwa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_autorow}">Autorzy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_pracownikow}">Pracownicy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_klientow}">Klienci</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_opinii}">Opinie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_zamowien}">Zamówienia</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_detali_zamowienia}">Detale zamówień</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/koszyk}">Koszyk</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Kontakt</a>
					</li>
				</ul>
			</nav>
			
		</div>

</section>
&nbsp;&nbsp;&nbsp;

<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_klientow">Lista klientów</li>
		  </ol>
		</nav>
	<h3>Klienci</h3>
</div>

<div class="container" align="center">
    <a href="/nowy_klient" class="btn btn-dark">Dodaj klienta</a>
    
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Nazwa firmy</th>
                <th>Nip</th>
                <th>Ulica</th>
                <th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Hasło</th>
                <th>Blokada konta</th>
                <th>Rola</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="klient : ${listKlient}">
                <td th:text="${klient.id_klienta}">ID</td>
                <td th:text="${klient.imie_klienta}">Imię</td>
                <td th:text="${klient.nazwisko_klienta}">Nazwisko</td>
                <td th:text="${klient.nazwa_firmy}">Nazwa firmy</td>
                <td th:text="${klient.nip_klienta}"></td>
                <td th:text="${klient.ulica_klienta}"></td>
                <td th:text="${klient.miasto_klienta}"></td>
                <td th:text="${klient.kod_pocztowy_klienta}"></td>
                <td th:text="${klient.telefon_klienta}"></td>
                <td th:text="${klient.email_klienta}"></td>
                <td th:text="${klient.password}"></td>
                <td th:text="${klient.blokada_konta}"></td>
                <td th:text="${klient.rola}"></td>
                <td>
                    <a th:href="@{'/edytuj_klienta/' + ${klient.id_klienta}}" class="btn btn-warning btn-sm">Edytuj</a>

                     <form method="get" action="@{/lista_klientow/usun_klienta/' + ${klient.id_klienta}}"
                    		onclick="return confirm('Jesteś pewien, że chcesz usunąć tego klienta?') ? true : false;">
                    		
                    	<a th:href="@{'/usun_klienta/' + ${klient.id_klienta}}" class="btn btn-danger btn-sm">Usun</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;
<div class="text-center">
	<p>Ksiegarnia Internetowa - BookStore </p>
</div>
</body>
</html>