<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
	h1 { text-shadow: 2px 2px black;}
</style>
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;
<div class="container">
	
	<ul class="nav nav-tabs">
  		<li class="nav-item">
    		<a class="nav-link" href="/lista_zamowien_obsluga">Wszystkie zamówienia</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="/lista_zamowien_zamowione">Złożone zamówienia</a>
	  	</li>
	  	<li class="nav-item">
    		<a class="nav-link" href="/lista_zamowien_skompletowane">Skompletowane zamówienia</a>
	  	</li>
  		<li class="nav-item">
    		<a class="nav-link active" href="/lista_zamowien_wyslane">Wyslane zamówienia</a>
  		</li> 
  		  		<li class="nav-item">
    		<a class="nav-link" href="/lista_zamowien_zamkniete">Zamknięte zamówienia</a>
  		</li> 
	</ul>
		
  &nbsp;&nbsp;&nbsp;
	<h3>Wysłane zamówienia:</h3>
</div>

<div class="container" align="center">
    
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data zamówienia</th>
                <th>Wartość</th>
                <th>Status</th>
                <th>Id klienta</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="zamowienie : ${listZamowienie}">
                <td th:text="${zamowienie.id_zamowienia}"></td>
                <td th:text="${zamowienie.data_zamowienia}"></td>
                <td th:text="${#numbers.formatDecimal(zamowienie.wartosc_zamowienia, 0 , 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:text="${zamowienie.status_zamowienia}"></td>
                <td th:text="${zamowienie.uzytkownik.id_uzytkownika}"></td>
                <td>
                     <a th:href="@{'/wyswietl_zamowienie_wyslane/' + ${zamowienie.id_zamowienia}}" class="btn btn-dark btn-sm">Wyświetl zamówienie</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
&nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>