
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
      
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

&nbsp;&nbsp;&nbsp;
<div class="container">
	<h4>Strona glowna</h4>
</div>

<div>
<form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
    <p>
        E-mail: <input type="email" name="username" required />  
    </p>
    <p>
        Password: <input type="password" name="password" required />
    </p>
    <p>
        <input type="submit" value="Login" />
    </p>
</form>
</div>




<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>