
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
      
<head>
<meta charset="utf-8"/>
<title>Book Store Application</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

&nbsp;&nbsp;&nbsp;
<div class="container" align="center">
	<h4>Logowanie</h4>
</div>
<div class="container" align="center">
	<div class="col-sm-9 col-md-5" style="padding: 15px; border-style:ridge; margin:40px">
		<div class="thumbnail">
			<form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
			    <p>
			        E-mail: <input type="email" name="username" required />  
			    </p>
			    <p>
			        Hasło: <input type="password" name="password" required />
			    </p>
			    <p>
			        <input type="submit" value="Zaloguj się"  class="btn btn-dark"/>
			    </p>
			 </form>
			    <p>Nie masz konta? Zarejestruj się:</p>
			 <a  th:href="@{/rejestrajca}" class="btn btn-dark" >Rejestracja</a>
			<a href="/rejestrajca" class="btn btn-dark" >Rejestracja</a>
		</div>
	</div>
</div>


			 <a  th:href="@{/rejestrajca}" class="btn btn-dark" >Rejestracja</a>
			<a href="/rejestrajca" class="btn btn-dark" >Rejestracja</a>
<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>
</html>