<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     
     <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
<head>
<meta charset="utf-8" />
<title>Nowa Kategoria</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;
<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item"><a href="/lista_kategorii">Lista kategorii</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_kategorii/dodaj_kategorie">Dodaj kategorie</li>
		  </ol>
		</nav>
	<h3>Dodaj nową kategorię</h3>
</div>

    <div class="container" align="center">
        <br/>
        <form action="#" th:action="@{/nowa_kategoria/save}" th:object="${kategoria}" method="post">
  
            <table class="table">
                <tr>
                    <td>Nazwa:</td>
                    <td><input type="text" th:field="*{nazwa_kategorii}" /></td>
                    <td th:if="${#fields.hasErrors('nazwa_kategorii')}" th:errors="*{nazwa_kategorii}">NameError</td>
                </tr>
                <tr>
                    <td>Opis:</td>
                    <td><input type="text" th:field="*{opis_kategorii}" /></td>
                    <td th:if="${#fields.hasErrors('opis_kategorii')}" th:errors="*{opis_kategorii}">NameError</td>
                </tr>  
                                      
                <tr>
                    <td >
                    	<button class = "btn btn-dark" type="submit">Zapisz</button>
                    	<a href="/lista_kategorii" class="btn btn-dark">Cofnij</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    &nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>


</body>