<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <link href="multiselect.css" rel="stylesheet">
     
     <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
<head>
<meta charset="utf-8" />
<title>Nowe zamowienie</title>
</head>
<body>
 
<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;
<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item"><a href="/lista_zamowien">Lista zamówień</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_zamowien/dodaj_zamowienie">Dodaj zamówienie</li>
		  </ol>
		</nav>
	<h3>Dodaj nowe zamówienie</h3>
</div>

    <div class="container" align="center">
        <br/>
        <form action="#" th:action="@{/nowe_zamowienie/save}"  method="post">
  
            <table class="table">
                <tr>
                    <td>Data zamówienia:</td>
                    <td><input type="text" th:field="${zamowienie.data_zamowienia}" /></td>
                    <td th:if="${#fields.hasErrors('zamowienie.data_zamowienia')}" th:errors="${zamowienie.data_zamowienia}">NameError</td>
                </tr>
                <tr>
                    <td>Wartość zamówienia:</td>
                    <td><input type="text" th:field="${zamowienie.wartosc_zamowienia}" /></td>
                    <td th:if="${#fields.hasErrors('zamowienie.wartosc_zamowienia')}" th:errors="${zamowienie.wartosc_zamowienia}">NameError</td>
                </tr>
                <tr>
                    <td>Status zamówienia:</td>
                    <td><input type="text" th:field="${zamowienie.status_zamowienia}" /></td>
                    <td th:if="${#fields.hasErrors('zamowienie.status_zamowienia')}" th:errors="${zamowienie.status_zamowienia}">NameError</td>
                </tr>
              
                 <tr>
                    <td>Id klienta:</td>
                    <td><input type="text" th:field="${zamowienie.uzytkownik.id_uzytkownika}" /></td>
                    <td th:if="${#fields.hasErrors('zamowienie.uzytkownik.id_uzytkownika')}" th:errors="${zamowienie.uzytkownik.id_uzytkownika}">NameError</td>
                </tr>
                <tr>
                    <td >
                    	<button class = "btn btn-dark" type="submit">Zapisz</button>
                    	<a href="/lista_zamowien" class="btn btn-dark">Cofnij</a>
                    </td>
                </tr>

            </table>
        </form>
    </div>
    &nbsp;&nbsp;&nbsp;

<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>

>

</body>