<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     
     <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
<head>
<meta charset="utf-8" />
<title>Nowe Wydawnictwo</title>
</head>
<body>

<section>
	<div class="container-sm">
		<div class="jumbotron" style="background: url(images/bookcase-1869616_1920.jpg)">
				<h1 style="color:white;">Ksiegarnia internetowa</h1>
		</div>
	</div>
		<div class="container">	
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Strona glowna</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_ksiazek}">Ksiazki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_kategorii}">Kategorie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_wydawnictw}">Wydawnictwa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lista_autorow}">Autorzy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Koszyk</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Kontakt</a>
					</li>
				</ul>
			</nav>
			
		</div>

</section>
&nbsp;&nbsp;&nbsp;
<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item"><a href="/listawydawnictw">Lista wydawnictw</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_wydawnictw/dodaj_wydawnictwo">Dodaj wydawnictwo</li>
		  </ol>
		</nav>
	<h3>Dodaj nowe wydawnictwo</h3>
</div>

    <div class="container" align="center">
        <br/>
        <form action="#" th:action="@{/nowe_wydawnictwo/save}" th:object="${wydawnictwo}" method="post">
  
            <table class="table">
                <tr>
                    <td>Nazwa:</td>
                    <td><input type="text" th:field="*{nazwa_wydawnictwa}" /></td>
                    <td th:if="${#fields.hasErrors('nazwa_wydawnictwa')}" th:errors="*{nazwa_wydawnictwa}">NameError</td>
                </tr>
                <tr>
                    <td>Opis:</td>
                    <td><input type="text" th:field="*{opis_wydawnictwa}" /></td>
                    <td th:if="${#fields.hasErrors('opis_wydawnictwa')}" th:errors="*{opis_wydawnictwa}">NameError</td>
                </tr>  
                                      
                <tr>
                    <td >
                    	<button class = "btn btn-dark" type="submit">Zapisz</button>
                    	<a href="/lista_wydawnictw" class="btn btn-dark">Cofnij</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="text-center">
	<p>Ksiegarnia Internetowa - BookStore </p>
</div>
</body>