<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     
     <style>
		h1 { text-shadow: 2px 2px black;}
	</style>
<head>
<meta charset="utf-8" />
<title>Wyświetl Książkę</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt"  th:include="naglowek.html :: naglowek"></header>


&nbsp;&nbsp;&nbsp;
<div class="container">
	<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
		    <li class="breadcrumb-item"><a href="/lista_ksiazek">Lista książek</a></li>
		    <li class="breadcrumb-item active" aria-current="/lista_ksiazek/wyswietl_ksiazke">Wyswietl książkę</li>
		  </ol>
		</nav>
</div>
    &nbsp;&nbsp;&nbsp;
    
    
    
<div class="container">

	<img th:src="@{/images/okladka.png}" alt="okladka" 
		style="width:250px; height:300px; float:left; border-right: 20px solid transparent; border-bottom: 20px solid transparent">
	<h2 class="display-3" th:text="${ksiazka.tytul_ksiazki}"></h2>
	<h4 th:text="${ksiazka.oryginalny_tytul_ksiazki}"></h4>
	<p>
		<th:block th:each="autor : ${zapisaniAutorzy}">
              <label th:text="${autor.nazwisko_autora + ' ' + autor.imie_autora}"></label>
        </th:block>
	</p>
	
	<div class ="col text-right">
		<form action="#" th:action="@{/wyswietl_ksiazke/dodaj_do_koszyka}" method = "post">
			Cena:<h1 class="display-2" th:text="${#numbers.formatDecimal(ksiazka.cena_ksiazki, 0 , 'DEFAULT', 2, 'DEFAULT')}"></h1>
			Wpisz ilosc:<input type="number" name="iloscZamowiona" value = "1"/>
						<input type="hidden" name="idKsiazki" th:value="${ksiazka.id_ksiazki}"/>
						<input type="hidden" name="cenaZakupu" th:value="${ksiazka.cena_ksiazki}"/>
						
			<button type="submit" class= "btn btn-success"
			onclick="return confirm('Czy chcesz dodać tę książkę do koszyka?') ? true : false;">Dodaj do koszyka</button>
		</form>
	</div>
	
	<table>
		<tr>
            <td>Wydawnictwo:</td>	
        	<td th:text="${ksiazka.wydawnictwo.nazwa_wydawnictwa}"/></td>
        </tr>
		<tr>
            <td>ISBN:</td>	
        	<td th:text="${ksiazka.isbn}"/></td>
        </tr>
        <tr>
            <td>Dostępność:	</td>	
        	<td th:text="${ksiazka.ilosc_ksiazek}"/></td>
        </tr>
        <tr>
            <td>Rok wydania:</td>	
        	<td th:text="${ksiazka.rok_wydania_ksiazki}"/></td>
        </tr>
        <tr>
            <td>Ilość stron:</td>	
        	<td th:text="${ksiazka.liczba_stron_ksiazki}"/></td>
        </tr>
        <tr>
            <td>Oprawa:</td>	
        	<td th:text="${ksiazka.oprawa_ksiazki}"/></td>
        </tr>
       	<tr>
            <td>Kategorie:</td>
            <td>	
            	<th:block th:each="kategoria : ${zapisaneKategorie}">
              	<label th:text="${kategoria.nazwa_kategorii}"></label>
        		</th:block>
        	</td>
        </tr>
	</table>
	
	
</div>



    &nbsp;&nbsp;&nbsp;
<div class="container" align="center">    
        <br />
        <p th:text="${ksiazka.opis_ksiazki}" />
    </div>
<div class="text-center">
    &nbsp;&nbsp;&nbsp;

<div class="container" align="left">
<h4>Opinie:</h4>

	<table style="border:1px solid; background-color: #f5f5f5; width: 100%; padding:20px">
	
	
			<th:block th:each="opinia : ${listOpinia}">
				<tr>
					<td><b>Autor:</b></td>
					<td th:text="${opinia.primaryKey.uzytkownik.email_uzytkownika}" align = "left"></td>
				</tr>
				<tr>
					<td><b>Ocena:</b></td>
                	<td th:text="${opinia.ocena}">Ocena</td>
                </tr>
                <tr>
                	<td><b>Komentarz:</b></td>
                	<td th:text="${opinia.komentarz}">Komentarz<br></td>
				</tr>
				<tr>
					<td><hr class="dotted"></td>
					<td><hr class="dotted"></td>
				</tr>
			</th:block>
	</table>
	   &nbsp;&nbsp;&nbsp;

	   	   <br>
		<a th:href="@{'/wyswietl_ksiazke/dodaj_opinie/' + ${opinia.primaryKey.ksiazka.id_ksiazki}}" class= "btn btn-dark">Dodaj opinię</a>	
</div>

    &nbsp;&nbsp;&nbsp;


</div>


<!-- Footer -->
<header id="header" class="alt" th:include="stopka.html :: stopka"></header>

</body>